@import "../common/common_styles";
$margin: 20px;

.card {
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
  border-radius: 8px;
  min-height: 100px;
  width: 94%;
  margin-bottom: 20px;

  .content {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
