.cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;
  width: 100%;

  app-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  margin: 0;
  margin-left: 16px;
  margin-bottom: 16px;

  color: white;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  margin: 0;
  margin-top: 20px;
  margin-left: 20px;

  color: rgb(68, 68, 68);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  margin: 0;

  color: #00ac3e;
  font-size: 16px;
  font-weight: bold;
}

ul {
  padding: 0;
  list-style-type: none;
}

label {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  min-width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  height: 34px;
  border-radius: 20px;
  border: 0;
  background-color: #2196F3;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

button:hover {
  background-color: rgb(0, 106, 182);
  cursor: pointer;
}

.deleteButton {
  width: 18px;
  height: 18px;
  min-width: 18px;
  margin: 0;
  padding: 0;
  background-color: white;

  img {
    width: 10px;
    height: 10px;
    margin-bottom: 1px;
  }

  &:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
  }
}

.checkbox {
  display: flex;
  justify-content: space-between;
}


.textInput {
  border: 0;
  outline: 0;
  font-size: 30px;
  font-weight: bold;
  width: 100%;

  &::placeholder { /* Most modern browsers support this now. */
    font-weight: normal;
    color:    rgb(158, 158, 158);
  }
}

.textInputSmall {
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: bold;
  width: 100%;

  &::placeholder { /* Most modern browsers support this now. */
    font-weight: normal;
    color:    rgb(158, 158, 158);
  }
}
